<h2 class="selected"> Pharmacy Selected </h2>
<ul class="ph-selected">
    <li> <%= @pharmacy.name %> </li>
    <li> <%= @pharmacy.address %> </li>
    <li> <%= @pharmacy.phone_number %> </li>
</ul>

<button type="button" class="order-button">Sign in to place your order... </button>
