.title-container{
    width: 50vw;
    background-color: white;
    border-radius: 20px;
    height: 100px;
    border-style:solid;
    border-color: black;
    width: 400px;
    height: 150px;
}

.order-title {
  margin: 20px auto;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
}

.order-container {
  margin-top: 24px;
  /*display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;*/
}

.order-list {
  width: 50vw;
  background-color: white;
  border-radius: 20px;
  height: 134px;
  border-style: solid;
  border-color: black;
  width: 400px;
  height: 150px;
}

.order-list li {
  font-size: larger;
  margin: 20px auto;
  /*float: left;*/
  display:flex;
  justify-content: center;
  align-items: center;
  clear: both;
  font-weight: 600;

}
#checkout-btn {
  width: 20vw;
  background-color: #1EDD88;
  border-radius: 16px;
  height: 100px;
  border-style: solid;
  border-color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: larger;
  text-decoration: none;
  margin: 20px auto;
  border-radius:10px;
  padding:10px;

}

.checkout-form{

  box-sizing:border-box;
}
