
  <div class="bg-container">
    <div class= "hero-text">
      <h1>Sorting health,
      <br>
      delivering care
      </h1>
      <p>PharmaSage is your comprehensive partner
      <br>in health and well-being.
      </p>
    </div>

    <div class="search-bar">
      <form action="/pharmacies" method="get">
        <input type="text" class="search-input" placeholder="Search your medicine..." name="query">
        <button class="search-button">Search</button>
      </form>
    </div>
  </div>
