
  <div class="bg-container">
    <div class= "hero-text">
      <h1>Sorting health,
      <br>
      delivering care
      </h1>
      <p>PillPack is a full-service pharmacy designed around your life.</p>
    </div>

    <div class="search-bar">
      <input type="text" class="search-input" placeholder="Search your medecine...">
      <button class="search-button">Search</button>
    </div>
  </div>
