
  <div class="bg-container">
    <div class="search-bar">
      <input type="text" class="search-input" placeholder="Search your medecine">
      <button class="search-button">Search</button>
    </div>
  </div>
