<div class="bg-container">
  <div class= "hero-text">
    <h1>Sorting health,
    <br>
    delivering care
    </h1>
    <p>PharmaSage is your comprehensive partner
    <br>in health and well-being.
    </p>
  </div>

  <div class="search-bar">
    <form action="/pharmacies" method="get">
      <input type="text" class="search-input" placeholder="Search your medicine..." name="query">
      <button class="search-button">Search</button>
    </form>
  </div>
</div>

<section class="pp-section--cta">
  <div class="pp-cta-txt-mod">
      <h1 class="section-h">Simplify your pharmacy experience today</h1>
      <a class="fill btn btn-rr pp-cta-button large" href="/pharmacies">Get Started</a>
      <p class="pp-cta-phone-label"><strong>Prefer to sign up over the phone?</strong>
      <br>
      Speak to a PharmaSage advisor today.
      </p>
      <a href="" class="pp-cta-button outline-dark"> +212-572-557-489 </a>
  </div>
</section>

<section>
